@import "tailwindcss";

@theme {
  /* 1. Referencia a la variable de Next.js Font */
  --font-inter: var(--font-inter);
  --font-headline: var(--font-inter), sans-serif;
  --font-body: var(--font-inter), sans-serif;
  --font-label: var(--font-inter), sans-serif;

  /* 2. Paleta de Colores Sovereign (OBLIGATORIO para que funcionen los estilos) */
  --color-primary-fixed-dim: #abc7ff;
  --color-outline: #717786;
  --color-on-secondary-fixed-variant: #0037ba;
  --color-tertiary: #545b72;
  --color-surface-bright: #f9f9fb;
  --color-tertiary-fixed-dim: #bfc6e0;
  --color-tertiary-fixed: #dbe2fd;
  --color-on-secondary-container: #fffbff;
  --color-on-background: #1a1c1d;
  --color-surface-container-low: #f3f3f5;
  --color-error: #ba1a1a;
  --color-on-primary-fixed: #001b3f;
  --color-on-surface: #1a1c1d;
  --color-surface-tint: #005cba;
  --color-on-primary: #ffffff;
  --color-primary-container: #0072e3;
  --color-surface-container: #edeef0;
  --color-secondary: #1e4cdd;
  --color-inverse-surface: #2f3132;
  --color-on-tertiary: #ffffff;
  --color-surface-container-high: #e8e8ea;
  --color-secondary-container: #4168f6;
  --color-inverse-primary: #abc7ff;
  --color-surface-container-highest: #e2e2e4;
  --color-on-primary-container: #fefcff;
  --color-on-tertiary-fixed-variant: #3f465c;
  --color-inverse-on-surface: #f0f0f2;
  --color-primary: #005ab6;
  --color-outline-variant: #c1c6d6;
  --color-secondary-fixed-dim: #b8c4ff;
  --color-error-container: #ffdad6;
  --color-surface-dim: #d9dadc;
  --color-on-error-container: #93000a;
  --color-surface-container-lowest: #ffffff;
  --color-background: #f9f9fb;
  --color-tertiary-container: #6d748c;
  --color-on-surface-variant: #414754;
  --color-surface-variant: #e2e2e4;
  --color-on-error: #ffffff;
  --color-on-tertiary-container: #fefcff;
  --color-on-secondary-fixed: #001454;
  --color-primary-fixed: #d7e3ff;
  --color-on-primary-fixed-variant: #00458e;
  --color-secondary-fixed: #dde1ff;
  --color-on-tertiary-fixed: #141b2f;
  --color-on-secondary: #ffffff;
  --color-surface: #f9f9fb;
}

@layer base {
  body {
    background-color: var(--color-surface);
    color: var(--color-on-surface);
    margin: 0;
  }
}

@layer utilities {
  .ambient-shadow {
    box-shadow: 0 25px 50px -12px rgba(26, 28, 29, 0.06);
  }
  .glass-effect {
    backdrop-filter: blur(12px);
    background: rgba(255, 255, 255, 0.8);
  }
}